div{
    border-radius: 10px;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

div img{
    border-radius: 10px;
    z-index: 0;
}

.name{
    position: absolute;
    left: 48%;
    top: 50%;
    color: rgb(228, 235, 110);
    transform: translateZ(30px)
}